@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500&family=Montserrat:wght@400;500&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

@layer base {
  :root {
    --beige: #dcc1ab;
    --black: #111111;
    --green: #1b5b31;
    --gray: #f5f0ec;
  }
}

.underline-animation {
  @apply relative before:absolute before:-bottom-1 before:h-0.5 before:w-0 before:rounded-3xl before:bg-secondary before:transition-all before:duration-200 before:content-[''] group-hover:before:w-full;
}

.button {
  @apply rounded-full px-3 py-2 text-sm font-normal lg:px-6 lg:pb-3.5 lg:pt-3 lg:text-base;
}

.gloweffect::before {
  border-radius: inherit;
  content: "";
  background: radial-gradient(
    800px circle at var(--mouse-x) var(--mouse-y),
    rgba(27, 91, 49, 0.15),
    transparent 40%
  );
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: 100%;
  z-index: 40;
  opacity: 0;
  transition: all 0.2s ease-in-out;
}

.gloweffect:hover::before {
  opacity: 1;
}